input.form-control {
    &:focus {
        border-color: $primary-color;
    }
}

.form-input input:focus,
.form-input input:valid,
.form-input textarea:focus,
.form-input textarea:valid {
    border-bottom: 2px solid $primary-color!important;
}
.form-input input:focus + .placeholder,
.form-input input:valid + .placeholder,
.form-input textarea:focus + .placeholder,
.form-input textarea:valid + .placeholder {
    top: 0;
    cursor: inherit;
    font-size: 14px;
    color: $primary-color!important;;
}
textarea {
    &.form-control {
        height: 96px !important;
        resize: none;
    }
    &.height-input{
        height:48px !important;
        line-height:34px;
    }
}
.info-full-name, .info-email-address, .info-content,.info-first-name,.info-middle-name,.info-last-name,.info-home-airport,.info-known-travelner,.info-mobile,.info-contact-phone,.info-zip,.info-city,.info-address-line-1,.info-address-line-2,.info-password,.info-phone{
    .box-content{
        font-size: 16px;
    }
    .input-contact{
        height: 100%;
        border: 1px solid #C8CACD;
    }
    .border-gray-1 {
        border: 1px solid #C8CACD;
    }
    ::placeholder{
        content: none;
    }
    position: relative;
    .title-input-contact{
        position: absolute;
        font-size: 14px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all .3s;
        color:#828282;
        
        &.active{
            top: 5px !important;
            transform: translateY(0);
            font-size: 10px !important;
        }
    }
    .input-contact{
        height: 80%;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }
    @include media-breakpoint-down(md){
        ::placeholder{
            content: none;
        }
        position: relative;
        .title-input-contact{
            position: absolute;
            font-size: 14px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: all .3s;
            color:#828282;
            
            &.active{
                top: 5px !important;
                transform: translateY(0);
                font-size: 10px !important;
            }
        }
        .input-contact{
            height: 80%;
            border: none;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.input-contact:focus + .title-input-contact, .box-content:focus + .title-input-contact{
    transform: translateY(0);
    font-size: 10px;
    top: 5px;
}